
#include "Warnings.xcconfig"
#include "BuildNumber.xcconfig"

OTHER_LDFLAGS = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) WPSKIT_VERSION="@\""$(VERSION_STRING)"\"" WPSKIT_BUILD="@\""$(BUILD_NUMBER)"\"" WPSKIT_APP_EXTENSION_SAFE

PRODUCT_NAME = WPSKit
PRODUCT_MODULE_NAME = WPSKit
PRODUCT_BUNDLE_IDENTIFIER = com.whitepeaksoftware.WPSKit

APPLICATION_EXTENSION_API_ONLY = YES

//MODULEMAP_FILE = 

SDKROOT = iphoneos
ARCHS = $(ARCHS_STANDARD)
VALID_ARCHS = arm64 armv7 armv7s

